altgraph==0.17.2
future==0.18.2
pefile==2022.5.30
pyinstaller==5.3
pyinstaller-hooks-contrib==2022.8
pynput==1.7.6
PyQt6==6.3.1
PyQt6-Qt6==6.3.1
PyQt6-sip==13.4.0
pyserial==3.5
pywin32-ctypes==0.2.0
six==1.16.0
